/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.wrapper{
    padding-right: 600px;
}
.content-wrapper{
    width: 145%;
}
.navbar{
    width: 145%;
}
.table{
    width: 100%;
    text-align: left;
    padding: 8px;
    display: block;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
}
.card-header{
    padding-left: 170px;
}
.card1{
    width: 90%;
    align-items: flex-end;
}

