@import url("https://fonts.googleapis.com/css?family=Oswald:500");
.back {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/Presentaci贸n\ Creativa\ de\ Moda\ Negro\ Verde\ Ne贸n\ Rosa\ Ne贸n\ con\ Ilustraci贸n.gif) no-repeat;
  background-size: cover;
}

.thx {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
}

.po {
  margin: 40px;
  top: 50px;
  text-align: center;
}

.po a {
  font-family: "Oswald", sans-serif;
  font-weight: 1000;
  text-transform: uppercase;
  text-decoration: none;
  color: #8274c9;
  margin: 0 15px;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}

.po  a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #b3aae2;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  color: aliceblue;
}

.po  a:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.po  a:nth-child(1) {
  animation: show 0.2s 1.1s ease 1 both;
}

.po  a:nth-child(2) {
  animation: show 0.2s 1.2s ease 1 both;
}

.po  a:nth-child(3) {
  animation: show 0.2s 1.3s ease 1 both;
}

.po  a:nth-child(4) {
  animation: show 0.2s 1.4s ease 1 both;
}
.po  a:nth-child(5) {
  animation: show 0.2s 1.5s ease 1 both;
}