body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-left: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 10000px;
    margin: 0 auto;
    padding: 200px;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: right;
}

/* Contenido principal */
main {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Cuadros de citas disponibles */
.cita-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Botón de Cerrar Sesión */
.logout-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: #555;
    color: #fff;
}

.logout {
    background-color: #5d5c5c;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}
.logout:hover {
    background-color: #ffffff;
    color:#000;
}